@charset "UTF-8";
/* Fuentes tipogr├íficas */
@font-face {
  font-family: "Open Sans";
  font-font-weight: normal;
  font-font-style: normal;
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Gotham";
  font-font-weight: normal;
  font-font-style: normal;
  src: url("../fonts/Gotham.ttf") format("truetype"); }
@font-face {
  font-family: "Gotham Light";
  font-font-weight: normal;
  font-font-style: normal;
  src: url("../fonts/Gotham_Book.ttf") format("truetype"); }
/* Reset, declaraci├│n tipogr├ífica y bloqueo de selecci├│n */
* {
  margin: 0;
  padding: 0;
  font-family: 'Gotham', 'Museo Sans', 'Tahoma', 'Verdana', 'Arial', 'Sans-serif';
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

/* Centrar elementos en resoluciones altas */
@media (min-width: 640px) {
  .encuadre {
    width: 100%;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto; } }
/* P├írrafos */
p {
  font-family: 'Gotham Light', 'Museo Sans', 'Tahoma', 'Verdana', 'Arial', 'Sans-serif';
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px; }

/* C├│digo preprocesado */
pre {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.75);
  font-family: monospace;
  overflow: scroll; }
  @media (min-width: 640px) {
    pre {
      overflow: hidden; } }

/* Contenedor de "pre" */
.cuadro-ejemplo {
  background-color: rgba(200, 150, 0, 0.25);
  border-radius: 4px;
  padding: 10px;
  overflow: hidden; }

/* Input y textarea */
input, textarea {
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.25); }

/* Botones */
button {
  padding: 10px 15px;
  margin: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 4px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  background-color: #c8c8c8;
  cursor: pointer; }

/* Listas */
ol, ul {
  padding-left: 24px; }

/* H1 */
h1 {
  padding-top: 15px;
  margin-bottom: 20px;
  text-align: left; }

/* Body */
body {
  background-color: #141414; }

/* Art├¡culo */
article {
  margin: 10px; }

/* Contenido principal */
main {
  background-color: white; }

/* Carga del sitio (aparece y desaparece por Ajax) */
#BA-carga {
  width: 100%;
  height: 145px;
  background-image: url("../img/BA.png");
  background-repeat: no-repeat;
  background-position: center; }

#pantalla-carga {
  width: 100%;
  background: #bebebe;
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: center; }

/* Encabezado */
#estructura-encabezado-navegacion {
  width: 100%;
  background: linear-gradient(to bottom, #FFD300 0%, #FFBC00 100%);
  padding-bottom: 2.5px;
  transition-duration: 1s; }

/* Marca Buenos Aires Ciudad */
#encabezado-BAciudad {
  width: 255px;
  height: 45px;
  margin-left: 30px;
  margin-bottom: 8px;
  padding: 0px;
  padding-top: 22px;
  background-image: url("../img/Encabezado_BACiudad.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  position: relative; }

/* Navegaci├│n */
.encabezado-navegacion {
  width: calc(100% - 25px);
  font-size: 14px;
  padding-left: 25px; }

/* Oculto por defecto */
@media (max-width: 639px) {
  #navegacion {
    display: none; } }

/* Items */
.navegacion-item {
  font-family: 'Open Sans', 'Museo Sans', 'Tahoma', 'Verdana', 'Arial', 'Sans-serif';
  display: inline-block;
  border-radius: 5px;
  padding: 10px;
  color: #5f5a00;
  transition-duration: 0.5s;
  cursor: pointer; }
  @media (max-width: 639px) {
    .navegacion-item {
      width: calc(100% - 40px);
      display: block; } }
  .navegacion-item:hover {
    background: #FFD300;
    color: #292202; }

/* Seleccionado */
.Seleccionado {
  color: white !important; }

/* Bot├│n men├║ responsive */
.menu-responsive {
  display: none; }
  @media (max-width: 639px) {
    .menu-responsive {
      position: relative;
      display: block;
      margin: 10px;
      border-width: 1px;
      border-style: solid;
      border-color: #D7A721;
      border-radius: 4px;
      color: #5F4600;
      font-size: 12px;
      cursor: pointer;
      letter-spacing: -0.5px;
      background-image: linear-gradient(to bottom, #FFD300 0%, #FFBC00 100%);
      background-color: #FFBC00;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.075), 0px -2px 0px rgba(0, 0, 0, 0.075) inset; }
      .menu-responsive:active {
        background-image: linear-gradient(to bottom, #EDC400 0%, #EDAF00 100%);
        background-color: #EDAF00;
        border-color: #C89B1F;
        color: #735500; }
      .menu-responsive div {
        padding: 7.5px; } }

/* Footer */
footer {
  width: 100%;
  padding-bottom: 20px;
  background: #141414;
  color: white;
  font-size: 10px;
  text-align: center; }

/* Marca BA Ciudad - En todo est├ís vos */
#footer-BA {
  width: 100%;
  height: 145px;
  background-image: url("../img/Footer_BA.svg");
  background-repeat: no-repeat;
  background-position: center; }

/* Items del footer */
.footer-item {
  display: inline-block;
  padding: 10px;
  color: rgba(255, 255, 255, 0.8);
  transition-duration: 0.5s;
  cursor: pointer; }
  @media (max-width: 479px) {
    .footer-item {
      width: calc(100% - 20px);
      display: block; } }
  .footer-item:hover {
    color: white; }
